<?xml version="1.0" encoding="utf-8"?> 
<robot name="origins">
<!-- solorPanel_link -->
  <link name="world"/>
  <link name="solarPanel_link">
   <inertial>
     <origin xyz="0 0 0" rpy="0 0 0"/>
     <mass value="1"/>
     <inertia ixx="0.33532"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
   </inertial>

   <visual>
     <origin xyz="0 0 0.5" rpy="0 0 0" />
     <geometry>
       <box size="1.2 1.8 0.1" />
     </geometry>
     <material name="Cyan"><link name="world"/>
       <color rgba="0 1.0 1.0 1.0"/>
     </material>
   </visual>

   <collision>
     <origin xyz="0 0 0.5" rpy="0 0 0"/>
     <geometry>
       <box size="1.2 1.8 0.2" />
     </geometry>
   </collision>
  </link>

  <joint name="base_to_panel_joint" type="fixed">
    <parent link="world"/>
    <child link="solarPanel_link"/>
  </joint>
</robot>
