<?xml version="1.0"?>
<launch>
  <arg name="laser_enabled"/>
  <arg name="realsense_enabled"/>
  <arg name="robot_namespace"/>
  <arg name="UGV_name"/>
  <arg name="UGV_x"/>
  <arg name="UGV_y"/>
  <arg name="UGV_z"/>
  <arg name="UGV_yaw"/>
  <arg name="uav0"/>
  <arg name="uav1"/>
  <arg name="uav2"/>
  <arg name="uav3"/>
  <arg name="start_idx"/>
  <arg name="ugv_idx"/>
  <arg name="quad_name" default="hummingbird"/>

  <arg name="mav_name" default="$(arg quad_name)"/>
  <arg name="enable_logging" default="false" />
  <arg name="enable_ground_truth" default="true" />
  <arg name="enable_command_feedthrough" default="false"/>
  <arg name="log_file" default="$(arg mav_name)" />
  <arg name="use_ground_truth" value="true"/>
  <arg name="verbose" default="false"/>
  <arg name="debug" default="false"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="base_frame_id"   default="base_footprint"/>
  <arg name="global_frame_id" default="map"/>
  <arg name="odom_topic" default="odom" />
  <arg name="laser_topic" default="scan" />

  <!-- launch husky-->
  <group if="$(eval arg('UGV_name')==0)"> 
          <!-- spawn husky in gazebo-->
          <group ns="$(arg robot_namespace)">
            <include file="$(find husky_navigation)/launch/move_base.launch">
              <arg name="no_static_map" value="true"/>
            </include>

            <node name="husky_control_center" pkg="test" type="husky_control_center.py" output="screen" 
                args="$(arg start_idx) $(arg robot_namespace) $(arg uav0) $(arg uav1) $(arg uav2) $(arg uav3) $(arg ugv_idx) 
                      $(arg UGV_x) $(arg UGV_y)"/>
          </group>

          <include file="$(find test)/launch/spawn_husky.launch">
           <arg name="laser_enabled" value="$(arg laser_enabled)"/>
           <arg name="realsense_enabled" value="$(arg realsense_enabled)"/>
           <arg name="x" value="2.5"/>
           <arg name="y" value="5.5"/>
           <arg name="z" value="$(arg UGV_z)"/>
           <arg name="yaw" value="$(arg UGV_yaw)"/>
           <arg name="robot_namespace" value="$(arg robot_namespace)"/>
          </include>

          <arg name="left_wheel" default="['$(arg robot_namespace)/front_left_wheel', '$(arg robot_namespace)/rear_left_wheel']"/>
          <rosparam param="$(arg robot_namespace)/husky_velocity_controller/left_wheel"  
                    subst_value="True">$(arg left_wheel)
          </rosparam> 

          <arg name="right_wheel" default="['$(arg robot_namespace)/front_right_wheel', '$(arg robot_namespace)/rear_right_wheel']"/>
          <rosparam param="$(arg robot_namespace)/husky_velocity_controller/right_wheel"  
                    subst_value="True">$(arg right_wheel)
          </rosparam>    

          <include file="$(find test)/launch/view_robot.launch"/>
          
          <param name="$(arg robot_namespace)/move_base/global_costmap/global_frame" value="world"/>
          <param name="$(arg robot_namespace)/move_base/local_costmap/global_frame" value="world"/>

          <param name="$(arg robot_namespace)/move_base/global_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
          <param name="$(arg robot_namespace)/move_base/local_costmap/robot_base_frame" value="$(arg robot_namespace)/base_link"/>
          <param name="$(arg robot_namespace)/husky_velocity_controller/base_frame_id" value="$(arg robot_namespace)/base_link"/> 
          
          <node name="message_to_tf" pkg="message_to_tf" type="message_to_tf" output="screen"/>
          <param name="message_to_tf/frame_id" value="/world"/>
          <param name="message_to_tf/odometry_topic" value="$(arg robot_namespace)/ground_truth/state"/>
          
  </group>

  <!-- UAV !-->
  <group ns="$(arg mav_name)$(arg uav0)">
    <!-- spawn uav in gazebo -->
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)$(arg uav0)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(eval .35 + arg('UGV_x'))"/>
      <arg name="y" value="$(eval 0.43 + arg('UGV_y'))"/>
      <arg name="z" value="1.0"/>
    </include>

    <!-- uav control -->
    <node pkg="rpg_rotors_interface" type="rpg_rotors_interface" 
          name="rpg_rotors_interface" output="screen" >
      <rosparam file="$(find rpg_rotors_interface)/parameters/rpg_rotors_interface.yaml" />       
      <remap from="odometry" to="ground_truth/odometry" />
      <remap from="rpg_rotors_interface/arm" to="bridge/arm" />
    </node>

    <!-- Autopilot -->
    <node pkg="autopilot" type="autopilot" name="autopilot" output="screen">
       <rosparam file="$(find state_predictor)/parameters/$(arg quad_name).yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/position_controller.yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/autopilot.yaml" />
          
       <param name="position_controller/use_rate_mode" value="True" />         
       <param name="velocity_estimate_in_world_frame" value="false" />
       <param name="state_estimate_timeout" value="0.1" />
       <param name="control_command_delay" value="0.05" />
       <param name="enable_command_feedthrough" value="$(arg enable_command_feedthrough)" />      
       <remap from="autopilot/state_estimate" to="ground_truth/odometry" />
    </node>

  <!-- uav control high-level control, trajectory publisher-->
  <node name="uav_control_center" pkg="test" type="uav_control_center" output="screen" 
          args="$(find test)/resource 0 0 4">  
       <remap from="cmd2UAV" to="/$(arg robot_namespace)/cmd2UAV"/>
  </node>
 </group> 

 <group ns="$(arg mav_name)$(arg uav1)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)$(arg uav1)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(eval -0.35 + arg('UGV_x'))"/>
      <arg name="y" value="$(eval 0.43 + arg('UGV_y'))"/>
      <arg name="z" value="1.0"/>
    </include>

    <node pkg="rpg_rotors_interface" type="rpg_rotors_interface" 
          name="rpg_rotors_interface" output="screen" >
      <rosparam file="$(find rpg_rotors_interface)/parameters/rpg_rotors_interface.yaml" />       
      <remap from="odometry" to="ground_truth/odometry" />
      <remap from="rpg_rotors_interface/arm" to="bridge/arm" />
    </node>

    <!-- Autopilot -->
    <node pkg="autopilot" type="autopilot" name="autopilot" output="screen">
       <rosparam file="$(find state_predictor)/parameters/$(arg quad_name).yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/position_controller.yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/autopilot.yaml" />
          
       <param name="position_controller/use_rate_mode" value="True" />         
       <param name="velocity_estimate_in_world_frame" value="false" />
       <param name="state_estimate_timeout" value="0.1" />
       <param name="control_command_delay" value="0.05" />
       <param name="enable_command_feedthrough" value="$(arg enable_command_feedthrough)" />      
       <remap from="autopilot/state_estimate" to="ground_truth/odometry" />
    </node>

  <node name="uav_control_center" pkg="test" type="uav_control_center" output="screen" 
          args="$(find test)/resource 1 0 2">  
       <remap from="cmd2UAV" to="/$(arg robot_namespace)/cmd2UAV"/>
  </node>
 </group> 

 <group ns="$(arg mav_name)$(arg uav2)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)$(arg uav2)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(eval -0.35 + arg('UGV_x'))"/>
      <arg name="y" value="$(eval -0.43 + arg('UGV_y'))"/>
      <arg name="z" value="1.0"/>
    </include>

    <node pkg="rpg_rotors_interface" type="rpg_rotors_interface" 
          name="rpg_rotors_interface" output="screen" >
      <rosparam file="$(find rpg_rotors_interface)/parameters/rpg_rotors_interface.yaml" />       
      <remap from="odometry" to="ground_truth/odometry" />
      <remap from="rpg_rotors_interface/arm" to="bridge/arm" />
    </node>

    <!-- Autopilot -->
    <node pkg="autopilot" type="autopilot" name="autopilot" output="screen">
       <rosparam file="$(find state_predictor)/parameters/$(arg quad_name).yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/position_controller.yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/autopilot.yaml" />
          
       <param name="position_controller/use_rate_mode" value="True" />         
       <param name="velocity_estimate_in_world_frame" value="false" />
       <param name="state_estimate_timeout" value="0.1" />
       <param name="control_command_delay" value="0.05" />
       <param name="enable_command_feedthrough" value="$(arg enable_command_feedthrough)" />      
       <remap from="autopilot/state_estimate" to="ground_truth/odometry" />
    </node>

  <node name="uav_control_center" pkg="test" type="uav_control_center" output="screen" 
          args="$(find test)/resource 2 0 4">  
       <remap from="cmd2UAV" to="/$(arg robot_namespace)/cmd2UAV"/>
  </node> 
 </group> 

 <group ns="$(arg mav_name)$(arg uav3)">
    <include file="$(find rotors_gazebo)/launch/spawn_mav.launch">
      <arg name="mav_name" value="$(arg mav_name)" />
      <arg name="namespace" value="$(arg mav_name)$(arg uav3)" />
      <arg name="model" value="$(find rotors_description)/urdf/mav_generic_odometry_sensor.gazebo" />
      <arg name="enable_logging" value="$(arg enable_logging)" />
      <arg name="enable_ground_truth" value="$(arg enable_ground_truth)" />
      <arg name="log_file" value="$(arg log_file)"/>
      <arg name="x" value="$(eval 0.35 + arg('UGV_x'))"/>
      <arg name="y" value="$(eval -0.43 + arg('UGV_y'))"/>
      <arg name="z" value="1.0"/>
    </include>

    <node pkg="rpg_rotors_interface" type="rpg_rotors_interface" 
          name="rpg_rotors_interface" output="screen" >
      <rosparam file="$(find rpg_rotors_interface)/parameters/rpg_rotors_interface.yaml" />       
      <remap from="odometry" to="ground_truth/odometry" />
      <remap from="rpg_rotors_interface/arm" to="bridge/arm" />
    </node>

    <!-- Autopilot -->
    <node pkg="autopilot" type="autopilot" name="autopilot" output="screen">
       <rosparam file="$(find state_predictor)/parameters/$(arg quad_name).yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/position_controller.yaml" />
       <rosparam file="$(find rpg_rotors_interface)/parameters/autopilot.yaml" />
          
       <param name="position_controller/use_rate_mode" value="True" />         
       <param name="velocity_estimate_in_world_frame" value="false" />
       <param name="state_estimate_timeout" value="0.1" />
       <param name="control_command_delay" value="0.05" />
       <param name="enable_command_feedthrough" value="$(arg enable_command_feedthrough)" />      
       <remap from="autopilot/state_estimate" to="ground_truth/odometry" />
    </node>

  <node name="uav_control_center" pkg="test" type="uav_control_center" output="screen" 
          args="$(find test)/resource 3 0 2">  
       <remap from="cmd2UAV" to="/$(arg robot_namespace)/cmd2UAV"/>
  </node> 
 </group> 

  

</launch>

